<h1 class="my-8 text-center text-xl group">
  <%= link_to "/" do %>
    <span class="text-wagon-red group-hover:text-shadow-red">Le Wagon</span>
    <span class="group-hover:strong">x</span>
    <span class="text-[#00CC00] group-hover:text-shadow-green">Advent of Code</span>
  <% end %>
</h1>
