# Logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
*.swp

# Local environment variables (dotenv)
.env

# Byebug command history file
.byebug_history

# Secret keys
/config/credentials/development.key
/config/credentials/production.key
config/master.key

# Pilou's drafts
/_*

/app/assets/builds/*
!/app/assets/builds/.keep
