# Secret keys
config/credentials/production.key
config/master.key

# SSH Keypair for GitHub Action
gha_ed25519
gha_ed25519.pub

# Development environment
app/assets/builds/*
coverage
log/
tmp/
vendor/javascript/*
.byebug_history
.DS_Store
.env
__*

# Exceptions to track
!app/assets/builds/.keep
!vendor/javascript/.keep
