<p>
  Made with ♥️ by
  <%= link_to "Pilou", "slack://user?team=T02NE0241&id=URZ0F4TEF", class: "to-slack" %> &
  <%= link_to "Aquaj", "slack://user?team=T02NE0241&id=U0J5GUEAW", class: "to-slack" %>
  →
  <%= link_to "https://github.com/pil0u/lewagon-aoc", target: :blank, class: "text-aoc-green hover:text-aoc-green-flash" do %>
    <i class="fab fa-github"></i>
  <% end %>
</p>
