<p>
  Made with ♥️ by
  <%= link_to "Pilou", "slack://user?team=T02NE0241&id=URZ0F4TEF", class: "link-slack" %> &
  <%= link_to "Aquaj", "slack://user?team=T02NE0241&id=U0J5GUEAW", class: "link-slack" %>
  →
  <%= link_to "https://github.com/pil0u/lewagon-aoc", target: :ext, class: "link-external" do %>
    <i class="fab fa-github"></i>
  <% end %>
</p>
