<p>
  Made with ♥️ by
    <%= link_to "pil0u", "slack://user?team=T02NE0241&id=URZ0F4TEF", class: "text-white font-semibold hover:text-aoc-atmospheric" %>,
    <%= link_to "Aquaj", "slack://user?team=T02NE0241&id=U0J5GUEAW", class: "text-white font-semibold hover:text-aoc-atmospheric" %> &
    <%= link_to "Joenn", "slack://user?team=T02NE0241&id=U045Z0313UP", class: "text-white font-semibold hover:text-aoc-atmospheric" %>
  →
  <%= link_to "https://github.com/pil0u/lewagon-aoc", target: :_blank, rel: "noopener", class: "text-other-green hover:link-external" do %>
    <i class="fab fa-github"></i>
  <% end %>
</p>
