<nav>
  <%= link_to "faq", faq_path, class: "link-explicit" %>
  <%= link_to "stats", stats_path, class: "link-explicit" %>
  <%= link_to "code of conduct", code_of_conduct_path, class: "link-explicit" %>
  <%= link_to "contact", Aoc.slack_channel, class: "link-explicit link-slack" %>
</nav>
