<nav>
  <%= link_to "faq", faq_path, class: "link link-footer" %>
  <%= link_to "stats", stats_path, class: "link link-footer" %>
  <%= link_to "contact", "slack://channel?team=T02NE0241&id=C02PN711H09", class: "link-external link-footer" %>
</nav>
