<p>
  Rewards gifted by
  <%= link_to "Le Wagon",
              "https://www.lewagon.com",
              target: :_blank,
              rel: :noopener,
              class: "link-explicit decoration-wagon-red" %>
  &
  <%= link_to "ShipOnRails",
              "https://shiponrails.com",
              target: :_blank,
              rel: :noopener,
              class: "link-explicit decoration-aoc-green" %>
</p>
