<p class="group">
  <span class="group-hover:hidden">Last data update: <span class="strong"><%= distance_of_time_in_words(@last_refresh, @now) %></span> ago</span>
  <em class="hidden group-hover:inline">Data updates every ~10 minutes</em>
</p>
