<p class="group">
  <span class="group-hover:hidden">Data updated: <%= distance_of_time_in_words(@last_update, @now) %> ago</span>
  <em class="hidden group-hover:inline">Data update every ~10 minutes</em>
</p>
