<p class="group">
  <span class="group-hover:hidden">Last API sync: <%= distance_of_time_in_words(@last_update, @now) %> ago</span>
  <em class="hidden group-hover:inline">API sync every ~10 minutes</em>
</p>
