<div class="flex flex-col my-2 opacity-70 hover:opacity-100 rounded group hover:bg-hover">

  <%= image_tag("dijkstra/#{@nature}.svg",
      alt: @nature, class: "w-32 sm:w-48 max-w-[34vw]") %>

  <div class="shadow-xl hidden group-hover:block z-10 absolute left-1/2 w-0">
    <div class="h-32 sm:h-48 bg-transparent mt-2"></div>
    <div class = "flex justify-around max-w-[77vw] p-3 rounded w-max lg:min-w-[40rem] transform -translate-x-1/2 bg-[#222335]">
      <div>
        <h2 class="font-bold">
          <%= t("achievements.#{@nature}.title") %>
        </h2>
        <p><%= t("achievements.#{@nature}.description") %></p>
      </div>
    </div>
  </div>

</div>
