<div class="<%= "self-end" if @message.user == @user %> w-5/6 max-w-lg px-4 py-2 flex flex-col gap-y-1 bg-aoc-gray-darkest border border-aoc-gray-dark group">
  <p class="break-words">
    <%= messages_sanitizer(@message.content) %>
  </p>

  <div class="flex justify-end gap-x-2">
    <span class="hidden md:inline invisible group-hover:visible text-sm text-aoc-gray-dark"><%= @message.created_at %></span>

    <em class="text-sm text-aoc-gray-dark">
      - <%= link_to(@message.user.username, profile_path(@message.user.uid), class: "link-explicit group-hover:text-aoc-gray") %>
    </em>
  </div>
</div>
