<%= render Scores::NavComponent.new %>

<%= render PageTitleComponent.new(title: "The Ladder of Insanity") %>

<p class="my-4">
  For each <em>challenge</em>, you are ranked by your relative time to solve it and earn points accordingly.
  <%= link_to "More info", faq_path, class: "link-explicit link-internal" %>.
</p>

<table class="block overflow-x-auto whitespace-nowrap w-full max-w-2xl mx-auto">
  <thead>
    <tr class="border-b border-aoc-gray-darker">
      <th class="font-light min-w-[3rem] lg:min-w-[4rem]"></th>
      <th class="font-light w-full"></th>
      <th class="font-light min-w-[6rem]">Score</th>
      <th class="font-light min-w-[6rem]">Stars</th>
      <th class="font-light min-w-[6rem]">Daily score</th>
    </tr>
  </thead>

  <tbody>
    <%= render Scores::SoloRowComponent.with_collection(@participants, user: current_user, hardcore: true) %>
  </tbody>
</table>
