<%= render PageTitleComponent.new(title: "Solo scoreboard") %>

<div class="my-4">
  <p>
    If you solve a puzzle in the first 24 hours after its release, you get a score of <code class="strong">50</code>.
  </p>
  <p>
    After 24 hours, the score decreases by <code class="strong">1</code>/hour, down to a minimum of
    <code class="strong">25</code>.
  </p>
  <p>
    Even if you solve a puzzle 2 weeks after release, you still get <code class="strong">25</code> points.
  </p>
</div>
<table class="block overflow-x-auto whitespace-nowrap w-full">
  <thead>
    <tr class="border-b border-aoc-gray-darker">
      <th class="font-light min-w-[3rem] lg:min-w-[4rem]"></th>
      <th class="font-light min-w-[12rem] lg:min-w-[16rem] w-full"></th>
      <th class="font-light min-w-[6rem]">Score</th>
      <th class="font-light min-w-[6rem]">Stars</th>
      <th class="font-light min-w-[6rem]">Daily score</th>
      <th class="font-light min-w-[16rem]">Squad</th>
      <th class="font-light min-w-[9rem]">Campus</th>
      <th class="font-light min-w-[6rem]">Batch</th>
    </tr>
  </thead>

  <tbody>
    <%= render Scores::UserRowComponent.with_collection(@participants, user: current_user, extended: true) %>
  </tbody>
</table>
