<div class="w-24 h-24 lg:w-32 lg:h-32 flex flex-col justify-between border border-aoc-gray-darker bg-aoc-gray-darkest">
  <h3 class="h-1/2 flex items-center justify-center strong text-center text-sm lg:text-base">
    <%= @title %>
  </h3>

  <span class="h-1/2 flex items-center justify-center text-aoc-atmospheric text-shadow-atmospheric text-xl lg:text-2xl">
    <%= @value %>
  </span>
</div>
