<footer class="mt-auto mb-2 mx-auto opacity-70">
  <span>Made with ♥️ by <%= link_to "Pilou", "slack://user?team=T02NE0241&id=URZ0F4TEF", class: "strong hover:text-aoc-atmospheric" %></span>
  <span>→</span>
  <%= link_to "https://github.com/pil0u/lewagon_aoc", target: :blank, class: "text-aoc-green hover:text-aoc-green-flash" do %>
    <i class="fab fa-github"></i>
  <% end %>
</footer>
