<footer class="mt-auto mx-auto py-2">
  <span>Made with ♥️ by <%= link_to "Pilou", "slack://user?team=T02NE0241&id=URZ0F4TEF", class: "text-white text-shadow-white hover:text-aoc-atmospheric" %></span>
  <span>→</span>
  <%= link_to "https://github.com/pil0u/lewagon_aoc", target: :blank, class: "text-aoc-gray-dark hover:text-aoc-gray" do %>
    <i class="fab fa-github"></i>
  <% end %>
</footer>
