<ul class="p-2 border border-aoc-gray-dark text-center">
  <% anchors.each do |css_id, title| %>
    <li><%= link_to title, css_id.to_s, data: { controller: "scroll-to" }, class: "hover:strong" %></li>
  <% end %>
</ul>
