<nav class="text-sm flex mb-8 mx-auto px-2 pb-2 gap-x-4 lg:gap-x-6 border-b border-aoc-gray-darker">
  <%= render NavTabComponent.new(link: { name: "squads", path: scores_squads_path }) %>
  <%= render NavTabComponent.new(link: { name: "cities", path: scores_cities_path }) %>
  <%= render NavTabComponent.new(link: { name: "solo", path: scores_solo_path }) %>
  <%= render NavTabComponent.new(link: { name: "insanity", path: scores_insanity_path }) %>
</nav>
