<div class="m-auto">
  <%= button_to(
    user_kitt_omniauth_authorize_path,
    data: { turbo: false, controller: "disable-link", action: "disable-link#now" },
    class: "button"
  ) do %>
  Sign in with Kitt
  <% end %>
</div>
