<% if @daily_buddy.present? %>

  <p class="text-center">
    Your daily buddy is

    <% if @daily_buddy.slack_id.present? %>
      <%= link_to "@#{@daily_buddy.slack_username}", @daily_buddy.slack_link, target: :_blank, rel: :noopener, class: "link-explicit link-slack" %>
    <% else %>
      <%= link_to @daily_buddy.username, profile_path(@daily_buddy.uid), class: "link-explicit" %>
    <% end %>
  </p>

<% end %>

<div class="mx-auto my-4 w-max grid grid-cols-5 gap-2 lg:gap-3">
  <%= render Calendar::AdventDayComponent.with_collection(@advent_days, now: @now) %>
</div>

<p class="text-center">Next puzzle in <%= distance_of_time_in_words(@now, @next_puzzle_time) %></p>
