<div class="mx-auto p-2 max-w-md flex justify-around border border-aoc-gray-darker">
  <span>Unauthenticated</span>
  <span>→</span>
  <%= link_to "Sign in with Kitt", user_kitt_omniauth_authorize_path, method: :post, class: "hover:text-aoc-gold hover:text-shadow-gold" %>
</div>
