<main class="mt-8 mx-auto max-w-md border border-aoc-gray-darker p-2">
  <h1 class="text-center">
    <span class="text-wagon-red text-shadow-red">Le Wagon</span>
    x 
    <span class="text-aoc-green-flash text-shadow-green">Advent of Code</span>
  </h1>

  <% if user_signed_in? %>

  <p>Authenticated as <span class="text-white text-shadow-white"><%= current_user.username %></span></p>
  <%= link_to "Sign out", destroy_user_session_path,
    method: :delete, class: "hover:text-aoc-gold hover:text-shadow-gold" %>

  <% else %>

  <p>Unauthenticated</p>
  <%= link_to "Sign in with Kitt", user_kitt_omniauth_authorize_path,
    method: :post, class: "hover:text-aoc-gold hover:text-shadow-gold" %>

  <% end %>
</main>
