<!DOCTYPE html>
<html>
<head>
  <title>503 Service Unavailable</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
  body {
    background-color: #0f0f23;
    color: #ccc;
    font-family: monospace;
    font-size: x-large;
    text-align: center;
  }

  a {
    color: #090;
    text-decoration: none;
  }

  a:hover {
    color: #0c0;
  }
  </style>
</head>

<body>
  <h1>The platform is under maintenance.</h1>
</body>
</html>
