<!DOCTYPE html>
<html>
<head>
  <title>410 Gone</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
  body {
    background-color: #0f0f23;
    color: #ccc;
    font-family: monospace;
    font-size: x-large;
    text-align: center;
  }

  a {
    color: #090;
    text-decoration: none;
  }

  a:hover {
    color: #0c0;
  }
  </style>
</head>

<body>
  <h1>The platform is shut down.</h1>
  <p>Please read the announcement on <a href="https://lewagon-alumni.slack.com/archives/C02PN711H09/p1749711780378469" target="_blank" rel="noopener noreferrer">on Slack</a></p>
</body>
</html>
