<div class="flex flex-col text-justify max-w-prose mx-auto gap-y-6">
  <p>
    <%= link_to "Advent of Code", "https://adventofcode.com/", target: :_blank, rel: :noopener, class: "link-explicit link-external" %>
    is an Advent calendar of small programming puzzles that can be solved in any programming language you like.
  </p>

  <p>
    Every day, from <span class="strong">December 1st</span> to <span class="strong">December 25th</span>, a new
    programming challenge is released, wrapped into a fictional Christmas backstory 🎄
  </p>

  <p>
    You don't need a computer science background to participate - just a little programming knowledge and some problem
    solving skills will get you pretty far.
  </p>

  <p>
    Solving any puzzle, <em>at any time</em>, earns you points 💎. Not only for you, but also for
    <span class="strong">your campus</span> from <span class="text-wagon-red">Le Wagon</span> or your dream
    <span class="strong">squad of 4 players</span>.
  </p>

  <p class="italic text-right">
    A year from now, you will wish you had started today.
  </p>
</div>

<div class="my-8 flex flex-col justify-center items-center gap-y-4">
  <%= button_to(
        user_kitt_omniauth_authorize_path,
        data: { turbo: false, controller: "disable-link", action: "disable-link#now" },
        class: "button"
      ) do %>
    Sign in with Kitt
  <% end %>

  <span class="text-xs">
    Already <span class="strong"><%= @total_users.humanize %></span> <%= "player".pluralize(@total_users) %> engaged.
  </span>
</div>
