@import "fonts";
@import "font_awesome";
@import "tailwindcss/base";
@import "tailwindcss/components";

@layer components {
  /* Used in revamped components */

  .button {
    @apply form-element cursor-pointer hover:text-gold;
  }

  .calendar-tile {
    @apply w-14 h-14 rounded-xl lg:w-20 lg:h-20 lg:rounded-2xl flex items-center justify-center border border-aoc-gray-darker hover:bg-aoc-gray-darker hover:bg-opacity-40;
  }

  code {
    @apply px-1 bg-aoc-gray-darkest border border-aoc-gray-darker rounded;
  }

  .disabled {
    @apply pointer-events-none bg-aoc-gray-darker text-aoc-gray-dark;
  }

  .form-element {
    @apply px-3 py-2 leading-normal border border-aoc-gray-darker disabled:disabled;
  }

  .input {
    @apply form-element w-48 bg-aoc-gray-darkest;
  }

  /* Hide the spinner for numerical input */
  input[type=number] {
    -moz-appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .link-explicit {
    @apply underline decoration-dotted underline-offset-4 hover:decoration-solid;
  }

  .link-external {
    @apply text-aoc-green;
  }

  .link-internal {
    @apply text-aoc-gold;
  }

  .link-slack {
    @apply text-aoc-atmospheric hover:text-shadow-atmospheric;
  }

  .no-ring {
    @apply ring-transparent ring-offset-transparent;
  }

  .strong {
    @apply text-white;

    text-shadow: 0 0 5px #fff;
  }

  summary {
    list-style: none;
  }

  .text-gold {
    @apply text-aoc-gold;

    text-shadow: 0 0 5px #ff6;
  }

  .text-shadow-atmospheric {
    text-shadow: 0 0 5px #79a2d8;
  }

  .text-shadow-green {
    text-shadow: 0 0 2px #0c0, 0 0 5px #0c0;
  }

  .text-shadow-red {
    text-shadow: 0 0 2px #fd1015, 0 0 5px #fd1015;
  }

  @keyframes wiggle {
    0% { transform: rotate(0deg); }
    70% { transform: rotate(0deg); }
    75% { transform: rotate(2.5deg); }
    80% { transform: rotate(-5deg); }
    85% { transform: rotate(7.5deg); }
    90% { transform: rotate(-7.5deg); }
    95% { transform: rotate(5deg); }
    100% { transform: rotate(-2.5deg); }
  }

  .wiggle {
    animation: wiggle 3s infinite;
  }

  /* Legacy */

  .dashboard-tile {
    @apply w-48 h-48 border-aoc-gray-darker cursor-default;
  }

  .text-shadow-silver {
    text-shadow: 0 0 5px #99c;
  }

  .text-shadow-bronze {
    text-shadow: 0 0 5px #fc9;
  }
}

@import "tailwindcss/utilities";
