/* Source: https://gwfh.mranftl.com/fonts/source-code-pro?subsets=latin */

@layer base {
  /* source-code-pro-300 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 300;
    src: url('source-code-pro-v23-latin-300.woff2') format('woff2');
  }

  /* source-code-pro-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url('source-code-pro-v23-latin-regular.woff2') format('woff2');
  }

  /* source-code-pro-600 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 600;
    src: url('source-code-pro-v23-latin-600.woff2') format('woff2');
  }
}
