.code-highlight table td {
  padding: 5px;
}

.code-highlight table pre {
  margin: 0;
}

.code-highlight,
.code-highlight .w {
  color: #d0d0d0;
  background-color: #10101a;
}

.code-highlight .err {
  color: #10101a;
  background-color: #ac4142;
}

.code-highlight .c,
.code-highlight .ch,
.code-highlight .cd,
.code-highlight .cm,
.code-highlight .cpf,
.code-highlight .c1,
.code-highlight .cs {
  color: #505050;
}

.code-highlight .cp {
  color: #f4bf75;
}

.code-highlight .nt {
  color: #f4bf75;
}

.code-highlight .o,
.code-highlight .ow {
  color: #d0d0d0;
}

.code-highlight .p,
.code-highlight .pi {
  color: #d0d0d0;
}

.code-highlight .gi {
  color: #90a959;
}

.code-highlight .gd {
  color: #ac4142;
}

.code-highlight .gh {
  color: #6a9fb5;
  background-color: #10101a;
  font-weight: bold;
}

.code-highlight .k,
.code-highlight .kn,
.code-highlight .kp,
.code-highlight .kr,
.code-highlight .kv {
  color: #aa759f;
}

.code-highlight .kc {
  color: #d28445;
}

.code-highlight .kt {
  color: #d28445;
}

.code-highlight .kd {
  color: #d28445;
}

.code-highlight .s,
.code-highlight .sb,
.code-highlight .sc,
.code-highlight .dl,
.code-highlight .sd,
.code-highlight .s2,
.code-highlight .sh,
.code-highlight .sx,
.code-highlight .s1 {
  color: #90a959;
}

.code-highlight .sa {
  color: #aa759f;
}

.code-highlight .sr {
  color: #75b5aa;
}

.code-highlight .si {
  color: #8f5536;
}

.code-highlight .se {
  color: #8f5536;
}

.code-highlight .nn {
  color: #f4bf75;
}

.code-highlight .nc {
  color: #f4bf75;
}

.code-highlight .no {
  color: #f4bf75;
}

.code-highlight .na {
  color: #6a9fb5;
}

.code-highlight .m,
.code-highlight .mb,
.code-highlight .mf,
.code-highlight .mh,
.code-highlight .mi,
.code-highlight .il,
.code-highlight .mo,
.code-highlight .mx {
  color: #90a959;
}

.code-highlight .ss {
  color: #90a959;
}
